body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Pushes child elements to opposite ends */
    align-items: center; 
    padding: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

.header, .hero-content, .footer {
    background-color: #1F2937;
}

.hero-content {
    display: flex;
    padding: 30px;
}

.hero-heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sign-up {
    font-size: larger;
    padding: 5px 10px 5px 10px;
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 10px;
    border-style: none;
}

.hero-picture {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #eeeeee;
    width: 300px;
    height: 200px;
    flex-shrink: 0;
}

.hero-second, .nav-links{
    font-size: 18px;
    color: #E5E7EB;
}

.information-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.info-head {
    display: flex;
    justify-content: center;
}

.picture {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #1F2937;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.information {
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 70px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.cta-text {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.cta-button {
    margin-top: 10px;
}

.cta-click {
    background-color: #3882f6;
    color: white;
    width: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    font-size: larger;
    padding: 5px 10px;
}