body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Pushes child elements to opposite ends */
    align-items: center; 
    padding: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

.header, .hero-content, .footer {
    background-color: #1F2937;
}